<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
  <title>My Profile</title>
</head>
<body>
  <%- include('./partials/nav') %>

  <div class="container mt-4">
    <h1>My Profile</h1>
    <div class="d-flex align-items-center">
      <img src="<%= user.profileImageURL %>" 
           alt="<%= user.fullName %>" 
           class="rounded-circle shadow-sm me-3"
           style="width:80px; height:80px; object-fit:cover;" />
      <h3><%= user.fullName %></h3>
    </div>

    <hr>

    <form action="/user/profile/photo" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label">Update Profile Picture</label>
        <input type="file" class="form-control" name="profileImage" accept="image/*" required>
      </div>
      <button class="btn btn-primary">Upload</button>
    </form>
  </div>
  
   <%- include('./partials/footer') %>
  <%- include('./partials/script') %>
</body>
</html>
